body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    cursor: pointer;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    margin: 10px;
    padding: 3px;
    box-sizing: border-box;
    transition: 0.2s;
}

.history-board>.board:hover {
    background-color: black;
}

.game-board>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.game-status {
    text-align: center;
    font-size: 1.5rem;
}

.history-board {
    display: flex;
    width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}

.active-board {
    background-color: #ff0000;
}

.history-board>.active-board:hover {
    background-color: #ff0000;
}

.history-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-title {
    display: inline-block;
    font: 1.5rem "Century Gothic", Futura, sans-serif;
    padding: 20px;
}

.sort-button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: #fff;
    background-image: url("./images/sort-button-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0;
    outline: 0;
    transition: 0.5s;
}

.sort-button:hover {
    transform: rotate(360deg);
}

.winner {
    background-color: rgba(0, 255, 0, 0.5);
    transition: 0.5s;
}
